
:root {

 
    --primary: #118c4f;
    
    --background: #f5f8ff;
    
    }

.header {
    width: 100%;
    height: 90px;
    border: 1px solid #eee;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100%;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}

.btn {
    padding: 14px 32px;
    margin-top: 1rem;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
    border-radius: 24px 4px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    box-shadow: rgb(0 0 0  / 25%) 0px 8px  24px;
    background-color: var(--background);
    color: var(--primary);
  }


.nav-menu a {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:740px) {
    .hamburger {
        display: flex;
    }

    .nav-menu li{
        display: none;
        visibility: hidden;
    }

    .btn {
        width: 80%;
        margin: .8rem;
    }

    .active {
        position: absolute;
        flex-direction: column;
        top: 90px;
        right:0;
        width: 50%;
        height: 200vh;
        transition: 0.6s;
        z-index: 2;
        background: #fff;
        border-left: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .active li{
        padding: 15px;
    }

}